/* Цвет  текста заголовка #212121*/
/* Цвет основного текста #757575*/
/* Цвет белый #FFFFFF*/
/* акцент #2196F3/*/
/* контакты футер #rgba(255, 255, 255, 0.6)*/
/* вторичный цвет фона #2F303A */
/* цвет секции наша команда #F5F4FA*/
/*header */
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--white-color: #fff;
	--secondary-bcg-color: #f5f4fa;
	--bcg-color: #2f303a;
	--footer-text-color: rgba(255, 255, 255, 0.6);
}
html {
	box-sizing: border-box;
}
*,
* ::before,
* ::after {
	box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
ul {
	margin: 0;
	padding-left: 0;
}
img {
	display: block;
}
body {
	background: var(--white-color);
	color: var(--primary-text-color);
	font-family: Roboto;
	letter-spacing: 0.03em;
	font-size: 14px;
	line-height: 1.71;
}
/*header */

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header-container {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ececec;
}
.site-nav {
	display: flex;
	align-items: center;
}
.nav-section {
	display: flex;
	align-items: center;
}
.link-nav:not(:last-child) {
	margin-right: 50px;
}

.logo {
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
	margin-right: 70px;
	margin-top: 24px;
	margin-bottom: 25px;
}
.logo-s {
	color: var(--title-text-color);
}
.logo-fs {
	color: var(--white-color);
}
/* Site-nav */
.site-nav .link {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
.contacts-container {
	margin-left: 331px;
	display: flex;
	align-items: center;
}
.link-post {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-right: 50px;
}
.link-phone {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}
.link-phone:hover,
.link-phone :focus,
.link-post:hover,
.link-post :focus,
.site-nav .link:hover,
.site-nav .link:focus,
.address-link:hover,
.address-link:focus,
.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
/* hero */
.hero {
	background: var(--bcg-color);
}
.hero-container {
	padding-top: 200px;
	padding-right: 267px;
	padding-bottom: 200px;
	padding-left: 267px;
	text-align: center;
}
.hero-title {
	background: var(--bcg-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
	max-width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.button-hero {
	font-family: Roboto;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;
	cursor: pointer;
	background: var(--accent-color);
	color: var(--white-color);
	padding: 10px 32px;
	border-radius: 4px;
	border: none;
}
.work-container {
	display: flex;
}

.section-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--title-text-color);
}
/* How we make a job */

/* team section */
.team-section {
	background: var(--secondary-bcg-color);
}
/* work-list */
.item-worklist {
	color: rgba(0, 0, 0, 0);
	background: rgba(253, 253, 253, 0);
}
.work-list .title {
	color: var(--title-text-color);
}
.title {
	font-weight: 700;
	text-transform: uppercase;
	color: var(--title-text-color);
}
.link-p {
	color: inherit;
}

/*Buttons */
.button {
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	text-align: center;
	color: var(--title-text-color);
	background: var(--secondary-bcg-color);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}
.button:hover,
.button:focus,
.button:active,
.current-btn {
	color: var(--white-color);
	background: var(--accent-color);
}
.footer {
	background: #2f303a;
}
.address-link {
	color: var(--white-color);
}
.contacts-link {
	color: var(--footer-text-color);
}
address {
	font-style: normal;
}
